@page "/interactionselector"
@inject NavigationManager NavigationManager

<div style="height:5vh">
<h1>InteractionViewer</h1>
</div>

<MudPaper Width="300px" Square="true">
    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Vertical="true">
        <MudButton @onclick='() => NavigationManager.NavigateTo("/reportviewer")'>Report 1</MudButton>
        <MudButton @onclick='() => NavigationManager.NavigateTo("/meetingviewer")'>Meeting 1</MudButton>
        <MudButton @onclick='() => NavigationManager.NavigateTo("/reportviewer")'>Report 3</MudButton>
    </MudButtonGroup>
</MudPaper>

@code {

}
