@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

@using System.ComponentModel.DataAnnotations
<style>
    .dot {
        height: 100px;
        width: 100px;
        background-color: #74C69D;
        border-radius: 50%;
        display: inline-block;
        align-self: center;
    }
</style>

<div style="width: 50%">
<span class="dot"></span>
<MudIconButton Class="rounded-xl" />
</div>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First name" HelperText="Max. 8 characters"
                    @bind-Value="model.Username" For="@(() => model.Username)" />
                    <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                    @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Log In</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                @if (success && model.Username == "supervisor")
                {
                    NavigationManager.NavigateTo("/home");

                }
                else if (success && model.Username == "student")
                {
                    NavigationManager.NavigateTo("/studenthome");

                }
                else if (success && model.Username == "tutor")
                {
                    NavigationManager.NavigateTo("/tutorhome");

                }
                else
                {
                    <MudText Color="@Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</EditForm>
@code {
    RegisterAccountForm model = new RegisterAccountForm();
    bool success;

    public class RegisterAccountForm
    {
        [Required]
        [StringLength(30, ErrorMessage = "Name length can't be more than 30.")]
        public string Username { get; set; }

        [Required]
        [StringLength(30, ErrorMessage = "Password must be at least 8 characters long.", MinimumLength = 8)]
        public string Password { get; set; }

    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
}