@page "/studenthome"
@inject NavigationManager NavigationManager
<div style="height:5vh">
<h1>Home</h1>
</div>

<div style="height:10vh">
<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" @onclick='() => NavigationManager.NavigateTo("/meetingbookingstudent")' Class="ml-auto">Book a Meeting</MudButton>
<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" @onclick='() => NavigationManager.NavigateTo("/reportcreationscreen")' Class="ml-auto">Create a Report</MudButton>
</div>
<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" @onclick='() => NavigationManager.NavigateTo("/")' Class="ml-auto mud-theme-primary py-4 px-6 mx-4 rounded-pill">Log Off</MudButton>
@code {

}
